name: build binary
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs_on: ubuntu-latest
    steps:
      - name: checkout
      uses: actions/checkout@v4
      - name: compile
      run: | 
      pwd
      ls
      g++ -std=c++11 -o main testq1.cpp negarr.cpp proxy.cpp
      ls
      command: "./testq1"
